discourse_darkvisitors:
  darkvisitors_enabled:
    default: false
    client: false
  darkvisitors_access_token:
    default: ""
    client: false
    secret: true
  darkvisitors_robots_txt_enabled:
    default: false
    client: false
  darkvisitors_robots_txt_agents:
    type: list
    default: "AI Data Scraper|Undocumented AI Agent"
    client: false
    allow_any: true
    list_type: compact
    choices:
      - AI Agent
      - AI Assistant
      - AI Data Scraper
      - AI Search Crawler
      - Archiver
      - Developer Helper
      - Fetcher
      - Headless Agent
      - Intelligence Gatherer
      - Scraper
      - SEO Crawler
      - Search Engine Crawler
      - Security Scanner
      - Undocumented AI Agent
      - Uncategorized
  darkvisitors_robots_txt_path:
    default: '/'
    client: false
  darkvisitors_server_analytics:
    type: enum
    default: disabled
    client: false
    choices:
      - disabled
      - anonymous_only
      - enabled
  darkvisitors_server_analytics_include:
    type: list
    default: ""
    client: false
    allow_any: false
    list_type: compact
    choices:
      - uploads
      - not_found
      ## Everything results in a lot of tracked request. 
      #- everything
  darkvisitors_server_analytics_ignore:
    type: list
    default: "hetrix.tools|www.uptimerobot.com"
    client: false
  darkvisitors_client_analytics:
    type: enum
    default: disabled
    client: true
    choices:
      - disabled
      - anonymous_only
      - enabled
  darkvisitors_client_analytics_project_key:
    default: ""
    client: true

  # If true, certain requests will not actually be send. Just logged.
  darkvisitors_simulate:
    default: false
    hidden: true
  darkvisitors_robots_txt_api:
    default: "https://api.darkvisitors.com/robots-txts"
    client: false
    hidden: true
  darkvisitors_server_analytics_api:
    default: "https://api.darkvisitors.com/visits"
    client: false
    hidden: true
  darkvisitors_client_analytics_script:
    default: "https://darkvisitors.com/tracker.js"
    client: true
    hidden: true
